################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Netcafe/v15/Server/sqlite3
/Netcafe/.vs/Netcafe/v15/Server/sqlite3
/.vs
/Netcafe/Netcafe/obj/Release
/Netcafe/packages/Newtonsoft.Json.7.0.1
