@{
    Layout = null;
}
<iframe src="Booking.aspx" width="1280" height="950" style="overflow:hidden;margin-top:0px;background-color:white;border:1px solid black" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
